<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Mikhail Sarnov</h1>
    <h2>DevOps engineer</h2>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
    </nav>

    <main>
        <form action="/save_contact" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br>

            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="4" cols="50"></textarea><br>

            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
    </main>

    <footer>
        <h3>Credits</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quas eveniet inventore incidunt veritatis at atque obcaecati voluptatum, voluptatem ullam, dolore nisi quia? Voluptatem rerum, earum esse eos consequatur deleniti.
            <a href="https://www.techstarter.de" target="_blank">Techstarter</a>
        </p>
    </footer>

</body>
</html>
